<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Paw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Paw.Properties.Settings>
            <setting name="ShowServerMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GrowlListenPort" serializeAs="String">
                <value>23053</value>
            </setting>
            <setting name="AllowFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowNetworkNotifications" serializeAs="String">
                <value>True</value>
            </setting>
        </Paw.Properties.Settings>
    </userSettings>
</configuration>